<div class="text-center">
  <%= simple_form_for(:session, url: login_path, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %> <br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.button :submit %>
  <% end %>
</div>
