<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <% @posts.each do |post| %>
              <div class="post-preview">
                <%= link_to post do %>
                      <h2 class="post-title">
                          <%= post.title %>
                      </h2>
                      <h3 class="post-subtitle">
                          <%= post.text_limit(60) %>
                      </h3>
                  <% end %>
                  <p class="post-meta">Posted by <%= post.author.name %>
                    <%= post.updated_at.to_formatted_s(:short)  %> </p>
              </div>
              <hr>
            <% end %>

            <!-- Pager
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>

<hr>
